@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap'); */

body {
    background-color: rgb(72, 245, 150);
}

.title {
    font-size: 72px;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    margin: 44px 0;
}

.player h1 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 32px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.player {
    margin: 0 34px;
}

